
@{
    ViewBag.Title = "AddQuestion";
}

<h2>Add New Question</h2>
<form action="ViewQuestion">
    <p>
        Question: <input type="text" name="strQuestion" />
    </p>
    <p>
        Asnwer 1: <input type="text" name="strAnswerData" />
    </p>
    <p>
        Asnwer 2: <input type="text" name="strAnswerData" />
    </p>
    <p>
        Asnwer 3: <input type="text" name="strAnswerData" />
    </p>
    <p>
        Asnwer 4: <input type="text" name="strAnswerData" />
    </p>
    <p>
        Asnwer 5: <input type="text" name="strAnswerData" />
    </p>
    <p>
        Question Correct Aswer: <input type="number" name="intAnsResponse" />
    </p>
    <input type="submit" value="Add Question" />

</form>
